---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
import { Summarize } from "../summarize.js";
const summarize = Summarize;
---

<Layout title={summarize.name}>
  <main class="md:basis-1/2 basis-full bg-slate-950">
    <div class="resume-container">
      <div class="grid grid-cols-2 gap-4 md:grid-cols-4 mb-4">
        <div class="flex col-span-1 profile-picture-container">
          <img
            class="profile-picture aspect-square rounded-full border-solid border-4"
            src="profile-picture.jpg"
          />
        </div>
        <div class="flex flex-col justify-center col-span-1 md:col-span-3">
          <div class="text-4xl">Tran Van Do</div>
          <div class="text-2xl">
            <span class="text-gradient">.NET Developer</span>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
        <div class="flex flex-col col-span-1 bg-slate-600">
          <div class="text-2xl text-center">Personal Info</div>
          <div>
<p><span class="material-symbols-outlined">
call
</span>{summarize.contact.phone}</p> 
            <p><a href="mailto:{summarize.contact.email}"><span class="material-symbols-outlined">mail</span>{summarize.contact.email}</a></p> 
            <p>{summarize.contact.address}</p>  
            <p>{summarize.contact.linkedin}</p>  
          </div>
        </div>
        <div class="flex flex-col col-span-1 md:col-span-3">
          <div class="">
            <span class="text-2xl">Skills</span>
          </div>
          <div>
            <span class="text-2xl">Projects</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
